h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#toc {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#toc td, #toc th {
  border: 1px solid #ddd;
  padding: 8px;
}

#toc tr:nth-child(even) {
    background-color: #f2f2f2;
}

#toc tr td:nth-child(odd) {
  text-align: center;
}

#toc tr:hover {
    background-color: #ddd;
}

#toc th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  text-align: center;
}